.text{
    width: 300px;
    height: 100px;
    padding-left:100px;
    padding-right: 100px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-right: 40px;
}

.application{
    background-color: white;
    color: black;
}

.title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.subtitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
th,tr,td{
    color: black !important;
}


.profile-box{
    background-color: white;
    padding: 50px; 
    border-radius: 10px;
    box-shadow: 5px 10px #888BFF;
}

.profile-title{
    text-align: center;
    font-size: 35px;
    margin-bottom:-5px;
    font-weight: bold;
}

.profile-subtitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.profile-data{
    margin-left:20px;
    text-align: left;
    font-size: 17px;
}

.profile-data-title{
 text-align: left;
   font-size: 22px;
   font-weight: bold;
}
profile-img {
    border-radius: 50%;
}

.notification {
    font-size: 30px;
    font-weight: bold;
    color: #888BFF;
}

.eachNotificationBox{
    background-color: white;
    border-radius: 10px;
}

.notification-text{
    font-size: 17px;
}

.a-link{
    color: #5F7286 !important;
}


.box{
    border-bottom: 2px solid  #888BFF;
    margin: 10px;
}


.inputbox{
    margin:20px;
    padding:15px;
    background-color: white;
    border-radius: 10px;
}


.titlebox{
    background-color:#E7E7FF;
    color: #888BFF;
    font-size: 20px;
    border-radius: 10px;
}

.imagesubmit::-webkit-file-upload-button{
    background-color: #888BFF;
    color: white;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 20px;
}

/* .submitbutton{
    background-color:#E7E7FF;
    color: #888BFF;
} */

.select2-container .select2-selection--single{
    height:40px !important;
}
.select2-container--default .select2-selection--single{
         border:1px solid #d9dee3 !important;
         border-radius: 6px !important; 

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color:#697a8d !important;
}

.dashboard_box{
    background-color:#E7E7FF;
    color: #888BFF;
    border-radius: 10px;
    border: 1px solid #888BFF ;
}

.dashboard_text{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
}

.notification {
    font-size: 30px;
    font-weight: bold;
    color: #888BFF;
}

.eachNotificationBox{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.notification-link{
    cursor: pointer;
}





